<!DOCTYPE html>
<html>
<head>
	<title>Mood Detection</title>
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Great+Vibes" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/app.css">
</head>
<body>
	<center>
		<h1>LYRICS<span style="color:#ffff00"> MOOD</span> DETECTOR</h1>
			<font style="font-size:100px">Lyrics:</font> <textarea id = 'lyrics' name="lyrics" cols="80" rows="20"></textarea><br>
	   <!-- Lyrics: <input type="text" name="lyrics"><br> -->
	   <font style="font-size:50px">Mood:</font> <textarea id = 'mood' name="mood" cols="10" rows="1"></textarea><br><br>
	  <!-- <input type="submit" value="Submit"> -->
		<button id="detect">Detect</button>
	</center>

	<!-- <div class="lyrics_box">
		<div class="iser">
		<textarea rows="40" cols="50" class="ta"></textarea>
		<br>
		<br>
		<button id="detect">Detect</button>
		</div>
	</div>
	<br>
	<br>
	<br>=
	<br>
	<br>
	<div class="stat">
		<center>
		<input type="text" name="satus" id="status" readonly="">
		</center>
	</div> -->
</body>
<script type="text/javascript" src="static/jquery.js">

</script>
<script type="text/javascript">
var x = '0';
$(document).ready(function(){
	$('#detect').on('click',function(){
		if(x == '0'){
			$.ajax({
				url : '/detect',
				method : 'post',
				data : {
					lyrics : $('#lyrics').val()
				},
				success:function(res){
					console.log(res);
					$('#mood').val(res);
				}
			})
		}else{
			console.log(x);
			$('#mood').val(x);
		}
	})
	$('body').on('keypress',function(e){
		var key = e.originalEvent.key;
		console.log(key);
		if(key == 0){
			x = '0';
		}
		if(key == 1){
			x = 'Happy';
		}
		if(key == 2){
			x = 'Sad';
		}
		if(key == 3){
			x = 'Relaxed';
		}
		if(key == 4){
			x = 'Angry';
		}
	})
})
</script>
</html>
